<!DOCTYPE html>
<html lang="fr">
    <head>        
        <!-- META SECTION -->
        <title>TheBox</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-blue.css"/>
        <link rel="stylesheet" type="text/css" href="js/plugins/sweetalert/sweetalert.css">
		<script src="js/plugins/socket-io/socket.io.js"></script>
		<!--
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		-->
        <!-- EOF CSS INCLUDE -->                                      
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container page-navigation-top page-navigation-top-fixed">            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal" style="position:fixed;top:-5px;">
                    <li class="xn-logo" style="background:white">
                        <a style="top:0px;background:black!important;"><label>TheBox<sup style="color:red"> alpha </sup></label></a>
                    </li>
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
